/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.m12 {
  margin: 12px;
}

.m24 {
  margin: 24px;
}

.mb24 {
  margin-bottom: 24px;
}

.mt24 {
  margin-top: 24px;
}

.mr12 {
  margin-right: 12px;
}
.ml24 {
  margin-left: 24px;
}
.ml48 {
  margin-left: 48px;
}

.w20p {
  width: 20%;
}
.w50P {
  width: 50%;
}
.w75p {
  width: 75%;
}

.bol {
  border-left: 1px solid #ccc;
}

.table-style1 {
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
  td {
    padding: 8px;
    border: 1px solid #ccc;
    &:hover {
      background-color: rgb(204 204 204 / 31%);
      cursor: pointer;
    }
  }
  th {
    padding: 8px;
    border: 1px solid #ccc;
  }
}
.table-style2 {
  border: 1px dashed #ccc;
  border-collapse: collapse;
  td {
    padding: 8px;
    border: 1px dashed #ccc;
    &:hover {
      background-color: rgb(204 204 204 / 31%);
      cursor: pointer;
    }
  }
  th {
    padding: 8px;
    border: 1px dashed #ccc;
  }
}
.flex {
  display: flex;
}

.flex-a-c {
  align-items: center;
}

.flex-a-e {
  align-items: flex-end;
}

.tac {
  text-align: center;
}
.tar {
  text-align: right;
}

.big-button {
  width: 100px;
  height: 40px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
