<div class="m24">
  <div>
    <h2>Inventory</h2>
  </div>
  <div>
    <div>
      <button routerLink="/inventory/create">Add inventory</button>
    </div>
    <div class="mt24">
      <table class="table-style1">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Expiry Date</th>
            <th>Quantity</th>
            <th>Purchase Date</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inventory of inventories">
            <td>{{ inventory.productName }}</td>
            <td>{{ inventory.expiryDate | date: "dd-MM-yyyy" }}</td>
            <td>{{ inventory.quantity }}</td>
            <td>{{ inventory.purchaseDate | date: "dd-MM-yyyy" }}</td>
            <td>{{ inventory.sellingPricePerUnit }}</td>
            <td class="action-cell">
              <div class="action-buttons">
                <div class="mr24">
                  <button
                    mat-icon-button
                    class="button-xs"
                    (click)="editInventory(inventory)"
                  >
                    <mat-icon>create</mat-icon>
                  </button>
                </div>
                <div>
                  <button
                    mat-icon-button
                    class="button-xs"
                    (click)="deleteInventory(inventory)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
