<div class="m24">
  <div>
    <h2>New Bill</h2>
    <div></div>
  </div>
  <div class="mt24 flex flex-a-e">
    <div>
      <label for="mobileNumber">Mobile Number</label>
      <br />
      <input
        type="text"
        [(ngModel)]="searchNumber"
        (change)="searchMobileNumber()"
        id="mobileNumber"
        list="mobileNumbers"
      />
      <datalist id="mobileNumbers">
        <option
          *ngFor="let mobileNumber of mobileNumbers"
          [value]="mobileNumber"
        ></option>
      </datalist>
    </div>
  </div>
  <div class="mt24 flex flex-a-e">
    <div class="mr12">
      <label for="product">Product</label>
      <br />
      <input list="products" id="product" [(ngModel)]="productName" />
      <datalist id="products">
        <option
          *ngFor="let product of products"
          [value]="product.name"
        ></option>
      </datalist>
    </div>
    <div class="mr12">
      <label for="productQuantity">Quantity</label>
      <br />
      <input type="number" [(ngModel)]="productQuantity" id="productQuantity" />
    </div>
    <div><button (click)="addItem()">Add Item</button></div>
  </div>
  <div class="mt24 flex">
    <div class="w75p">
      <table class="table-style1">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price per unit</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container
            *ngIf="
              currentBill && currentBill.items && currentBill.items.length > 0
            "
          >
            <tr *ngFor="let item of currentBill.items; let i = index">
              <td>{{ item.productName }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.pricePerItem }}</td>
              <td>{{ item.totalPrice }}</td>

              <td>
                <button (click)="removeBillItem(i)">Remove</button>
              </td>
            </tr>
            <tr>
              <td colspan="3">Total</td>
              <td>{{ currentBill?.items | total }}</td>
            </tr>
            <tr>
              <td colspan="3">Rounded Total</td>
              <td>{{ currentBill?.items | roundedTotal }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="ml48 w20p bol">
      <div class="tac">
        <h2>Amount To Pay</h2>
      </div>
      <div class="tac">
        <span class="total">{{ currentBill?.items | roundedTotal }}</span> Rs
      </div>
      <div>
        <button class="big-button ml24 mt24" (click)="saveAndPrint()">
          Save & Print
        </button>
      </div>
    </div>
  </div>
</div>
